#nav-bar {
    background-color: #22ace8;
    margin: 0;
    height: 120px;
    width: 100%;
    padding: 0 2em 0 2em;  
    display: flex;
    align-items: center;        
}

#nav-bar .header {
    font-size: 50px;
    font-weight: italic;
    padding: 20px 0 0 10px;
    color: #ECA220
    /* #f21d61 */
}

#nav-bar .logo {
    margin: 10px 0 10px 0;
    width: 100px;
    height: 100px;
}