*{
  font-family: 'Roboto Condensed', sans-serif;
}
/* new compose box */

section.new-tweet {
    border-radius: 10px;
    border: 1.5px black solid;
    width: 90%;
    background-color:#fabeb6;
    margin: 0 auto 40px auto;
    padding: 10px;
    display: none;
  }
  
  /* compose tweet text and underline */
  section.new-tweet h2{
    text-align: left;
    margin-top: 20px;
    border-bottom: 1px solid black;
  }
  
  /* form box  */
  section.new-tweet form{
    border-radius: 10px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  /* text area box */
  section.new-tweet textarea {
    border-radius: 7px;
    width: 100%;
    height: 100px;
    margin-bottom: 10px;
  }
  
  /* counter right */
  .counter {
    font-size: 20px;
    font-weight: italic;
    float: right;
    color: #03ad3c
  }

  #errormessage {
    font-size: 15px;
    font-weight: italic;
    text-align: right;
    display: none;
    color: #ff0000;

  }
  